html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    /* margin-bottom:0px; */
    min-height: 180;
    padding: 0;
    width: 384px;
    /* background-color:#aeccfc */
    background-color:#fdfdfd;    
 }
h1{
    /* font-family: 'Menlo', monospace; */
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: rgb(53, 53, 53);
    background-color: rgb(230, 230, 230); 
    text-align: center;
    /* box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.445); */
    /* background-color: #ff007f; */

}

#Parse{
    color:#FE0000;
}
#myProgress {
    width: 100%;
    background-color: lightgrey;
  }
  
  #rightBar {
    width: 1%;
    height: 5px;
    background-color: red;
  }
  #leftBar {
    width: 1%;
    height: 5px;
    margin: 10px 0px;
    background-color:  #01A1FF    ;
  }
percent{

    font-size: 20px;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    /* padding: 10px;
    margin: 10px; */

}

p{
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    padding: 10px;
}

.wide-button.green:hover{
    /* background-color: rgb(152, 216, 152); */
}

.wide-button.green{
    /* background-color: #b388f2; */
    background-color: lightgreen;
}

.wide-button:hover{
    transform: scale(1.03);
}

.wide-button{
    /* background-color:#b388f2; */
    background-color: #f4425f;
    /* border-color: gray; */
    /* border-width: 1px; */
    /* border-style: solid; */
    color:white;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 0.1s;
    /* box-shadow: 10px 10px; */
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.445);
    /* height: 50px; */
    font-size: 20px;
    padding: 10px 0;
}

#center{
    background-color: gray;
    /* border-color: gray; */
    border-width: 1px;
    border-style: solid;
    color:white;
    border-radius: 15px 50px;


}
#center:hover{
    background-color: lightgray;
    transition:200ms;

}
a:link, a:visited{
    color: black;
    outline: 0;
    text-decoration: none;

}
#foxIcon{
    width:300px;
}
img{
    width: 30px;
}
.modal-header{
    align-items:center;
    border-bottom: 0.5px solid #dadada;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
}
.modal-content{
    padding: 0 22px;
}
.modal-icons{
    border-top:0.5px lightgray;
    height: 60px;
    width: 100%;
    background-color: rgb(230, 230, 230);
    margin-bottom: 0px;
}
.logo{
    padding: 16px;
}
.logo-icon{
    vertical-align: text-bottom;
    margin-right: 12px;
}
.version{
    color:white;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    padding:10px 22px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.flex{
    /* opacity:0; */
    transition:all .2s ease-in-out;
    width: 120px;
}

.flex:hover{
    opacity: .5;
    transform: scale(1.1);
}

.fa{
    font-size: 40px;
    /* color: hotpink; */
}

.fab{
    font-size: 40px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@-webkit-keyframes fadein {
    from {
        background-size: 100%; 
        background-origin: padding-box;
        background-position: center;
        opacity: 0; }
    to   { 
        background-size: 105%;
        opacity: 1; }
}